<div class="container-fluid">
  <div class="row-fluid">
    <div class="col-md-3">
    </div>
    <div class="col-xs-12 col-md-6 row-fluid">
      <% @numbers.each do |n| %>
      <div class="col-xs-6 col-md-2 text-center">
        <%= n %>
      </div>
      <% end %>
    </div>
  </div>
</div>
